<section id="intro"  class="container-fluid section-content"
	skrollr-tag
	data-top-bottom="opacity: 0" 
	data-center="opacity: 1" 
		>		
	<h1 class="text-center">Our Story</h1>	
	<h2 class="text-center">in our own words</h2>
</section>

<section id="story1" class="container-fluid section-content"
	data-top-bottom="opacity: 0" data-center="opacity: 1" 

>
	
	<div class="text-center succulent-flower" >
		<img class="hidden-xs succulent-section" src="img/succulents/s1-5.png" alt="succlent" 
		data-50p-bottom= "transform: scale(0.3) rotate(0deg);"
		data-80p-bottom= "opacity: 0;"
		data-top="transform: scale(0.82) rotate(18deg); opacity: 1;"	
		>
		<img class="hidden-xs succulent-section" src="img/succulents/s1-3.png" alt="succlent" 
		data-50p-bottom="transform: scale(0.3) rotate(0deg);"
		data-top="transform: scale(0.8) rotate(18deg);"	
		>
		<img class="hidden-xs succulent-section" src="img/succulents/s1-2.png" alt="succlent" 
		data-50p-bottom= "transform: scale(0.3) rotate(0deg);"
		data-10p-bottom= "opacity: 1;"
		data-top="transform: scale(0.8) rotate(18deg); opacity: 0;"	
		>	
	</div>
	<h2 class="text-center">How We Met</h2>
	<div class="container-fluid">
		<h3 class="text-center">By Joanna</h3>
		<p class="text-center">
			Our love is a love that dates back years and years ago. We first met as kids in Ms. Shiroke’s 5th grade class at Trabuco Mesa Elementary School. We were an unlikely pair, as Alfredo was loud and rambunctious, while I was quiet and studious. However, we gravitated toward each other as we soon realized we were the only two Filipino students in the class. We bonded over recess, playing handball and sitting on the rainbow rings. We then attended the same junior high school and high school. We were in the same high school history class for three years in a row. It was not until our senior year of high school in which we both realized that our years of close friendship had turned into something more. We finally started dating just before our senior prom and the rest they say is history. Nearly 9 ½ years later, Alfredo and I are engaged and cannot wait to spend the rest of our lives together. 
		</p>
	</div>				
</section>

<section id="story4" class="container-fluid section-content "
	data-top-bottom="opacity: 0" data-center="opacity: 1" 
>
	<div class="text-center succulent-flower" >
		<img class="hidden-xs succulent-section" src="img/succulents/s1-5.png" alt="succlent" 
		data-50p-bottom= "transform: scale(0.3) rotate(0deg);"
		data-80p-bottom= "opacity: 0;"
		data-top="transform: scale(0.82) rotate(18deg); opacity: 1;"	
		>
		<img class="hidden-xs succulent-section" src="img/succulents/s1-3.png" alt="succlent" 
		data-50p-bottom="transform: scale(0.3) rotate(0deg);"
		data-top="transform: scale(0.8) rotate(18deg);"	
		>
		<img class="hidden-xs succulent-section" src="img/succulents/s1-2.png" alt="succlent" 
		data-50p-bottom= "transform: scale(0.3) rotate(0deg);"
		data-10p-bottom= "opacity: 1;"
		data-top="transform: scale(0.8) rotate(18deg); opacity: 0;"	
		>	
	</div>
	<h2 class="text-center">How We Got Engaged</h2>
	<div class="container-fluid">
		<h3 class="text-center">By Alfredo</h3>
		<p class="text-center">
			After much personal reflection, I made the decision to propose to Joanna. We had been together for nearly a decade. I believed she deserved more than a simple question on a bended knee. Months before I proposed, I asked her parents and family for their blessing to propose to Joanna, which they joyfully gave. I informed them my plan was to use misdirection in my proposal. 
		</p>		
		<p class="text-center">
			I informed Joanna I planned to celebrate my birthday at a nightclub in Los Angeles with my close friends. If you know Joanna, she has no interest in nightclubs. The event was an opportunity to distract Joanna so that she would focus on preparing for the evening instead of the possibility of what may or may not transpire. 
		</p>
		<p class="text-center"> 
			On the day of the event, Joanna has just finished worked three nights in a row, which made it difficult for Joanna to wake up that day. The day started with some difficulty from Joanna’s irritability, but we eventually arrived at the event’s location. Joanna believed I had rented a space in the nightclub for the evening. However, I actually reserved a penthouse for the evening. As we entered the penthouse, she responded with confusion and reluctance under the assumption we were in another guest’s suite and requested we leave immediately. In the confusion, I dropped down on one knee and popped the question.  
 
		</p>

	</div>				
</section>