<section class="container-fluid section-content intro-section">
	<h1 class="text-center">Wedding Day Information</h1>
	<h2 class="text-center">Event Locations</h2>				
</section>
<section class="container-fluid section-content"
	skrollr-tag
	data-top-bottom="opacity: 0" 
	data-center="opacity: 1" 
>
	<div class="container">
		<div class="hidden-xs text-center succulent-flower" >
			<img class="hidden-xs succulent-section" src="img/succulents/s1-5.png" alt="succlent" 
			data-50p-bottom= "transform: scale(0.3) rotate(0deg);"
			data-80p-bottom= "opacity: 0;"
			data-top="transform: scale(0.82) rotate(18deg); opacity: 1;"	
			>
			<img class="hidden-xs succulent-section" src="img/succulents/s1-3.png" alt="succlent" 
			data-50p-bottom="transform: scale(0.3) rotate(0deg);"
			data-top="transform: scale(0.8) rotate(18deg);"	
			>
			<img class="hidden-xs succulent-section" src="img/succulents/s1-2.png" alt="succlent" 
			data-50p-bottom= "transform: scale(0.3) rotate(0deg);"
			data-10p-bottom= "opacity: 1;"
			data-top="transform: scale(0.8) rotate(18deg); opacity: 0;"	
			>	
		</div>	
		<div class="row">
			<div class="col-sm-6">
				<h2 class="text-center">Where We're getting Hitched</h2>
				<p class="text-center">San Francisco Solano Catholic Church</p>
				<address class="text-center">
					22082 Antonio Parkway<br>
					Rancho Santa Margarita,CA 92688<br>
					Phone: (949) 589-7767
				</address>
				<div class="text-center"> 
					<a href="http://maps.apple.com/?daddr=22082+Antonio+Parkway+Rancho+Santa+Margarita,+CA+92688&saddr=Current+location" class="btn btn-primary btn-lg">Church</a>
				</div>
			</div>
			<div class="col-sm-6">
				<h2 class="text-center">Where We're Partying</h2>
				<p class="text-center">Anaheim Hilton Hotel</p>
				<address class="text-center">
					777 W Convention Way<br> 
					Anaheim, CA 92802<br>
					Phone: (714) 750-4321	
				</address>
				<div class="text-center"> 
					<a href="http://maps.apple.com/?daddr=777+W+Convention+Way+Anaheim,+CA+92802&saddr=Current+location" class="btn btn-primary btn-lg">Reception</a>
				</div>
			</div>
		</div>
		<div class="hidden-xs text-center succulent-flower" >
			<img class="hidden-xs succulent-section" src="img/succulents/s1-5.png" alt="succlent" 
			data-50p-bottom= "transform: scale(0.3) rotate(0deg);"
			data-80p-bottom= "opacity: 0;"
			data-top="transform: scale(0.82) rotate(18deg); opacity: 1;"	
			>
			<img class="hidden-xs succulent-section" src="img/succulents/s1-3.png" alt="succlent" 
			data-50p-bottom="transform: scale(0.3) rotate(0deg);"
			data-top="transform: scale(0.8) rotate(18deg);"	
			>
			<img class="hidden-xs succulent-section" src="img/succulents/s1-2.png" alt="succlent" 
			data-50p-bottom= "transform: scale(0.3) rotate(0deg);"
			data-10p-bottom= "opacity: 1;"
			data-top="transform: scale(0.8) rotate(18deg); opacity: 0;"	
			>	
		</div>
		<div class="row">
			<div class="col-sm-12">
				<h2 class="text-center">Hotel Accommodations</h2>
			</div>
			<div class="col-sm-4 col-md-6">
				<div class="profile-image hotel centered"></div>
			</div>
			<div class="col-sm-8 col-md-6">
			<p>Are you planning to relax after partying?</p>
			<p>The Anaheim Hilton Hotel has been gracious enough to allow us to reserve a block of rooms for guests. Each room is discounted to <b>$161.00</b> a night. If you are planning to reserve a room for a night or the weekend of our wedding, please follow the instructions below to reserve a room.</p>
			<ul>
				<li>Contact the Hilton Anaheim Hotel.</li>
				<li>Reserve a room for the night or the weekend of April 25, 2015.</li>
				<li>Inform the concierge that you will be attending the "Picazo-Trice Wedding" and you will receive the discounted rate with your reservation.</li>
			</ul>
			</div>
		</div>
	</div>			
</section>