<section id="main-landing" ng-style="style()" resize>
	<div id="home-landscape" class="block" >
		<div class="centered hidden-xs">
			
			<div class="center-piece container" >
				<div class="row">
					<div class="col-md-4">
					<h1 id="groom">Alfredo</h1>
					</div>
					<div class="col-md-4">
						<div id="wedding-piece">
							<div>
							<img src="img/CenterHeart.png" id="center-heart" class="img-responsive" alt="Center Piece">
							<img src="img/CenterFlower.png" id="center-flower" class="img-responsive" alt="Center Piece">
							</div>
						</div>
					</div>
					<div class="col-md-4">  
					<h1 id="bride">Joanna</h1>
					</div>
				</div>
			</div>
			<h2 id="wDate">April 25 2015</h2>
			<h3 id="wMsg">ARE GETTING MARRIED</h3>
		</div>
	</div>
	<div id="nav-content">
		<a  href="#" class="primary-bg"><span class="glyphicon glyphicon-chevron-down"></span></a>
	</div>
</section>