<section class="container-fluid section-content intro-section" skrollr-tag>
	<div class="hidden-xs text-center succulent-flower" >
			<img class="hidden-xs succulent-section" src="img/succulents/s1-5.png" alt="succlent" 
			data-50p-bottom= "transform: scale(0.3) rotate(0deg);"
			data-80p-bottom= "opacity: 0;"
			data-top="transform: scale(0.82) rotate(18deg); opacity: 1;"	
			>
			<img class="hidden-xs succulent-section" src="img/succulents/s1-3.png" alt="succlent" 
			data-50p-bottom="transform: scale(0.3) rotate(0deg);"
			data-top="transform: scale(0.8) rotate(18deg);"	
			>
			<img class="hidden-xs succulent-section" src="img/succulents/s1-2.png" alt="succlent" 
			data-50p-bottom= "transform: scale(0.3) rotate(0deg);"
			data-10p-bottom= "opacity: 1;"
			data-top="transform: scale(0.8) rotate(18deg); opacity: 0;"	
			>	
		</div>			
	<h1 class="text-center">Gift Registry</h1>
	<h2 class="text-center">Your presence is the greatest gift of all.</h2>

</section>
<section class="container-fluid section-content" >
<div class="container">
			
		<div class="row">
			<div class="col-sm-12">
				<p class="text-center">
					However, if you wish to honor us with a gift, below is a list of our registries. 
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 text-center">
				<div id="registry-list">
					<ul class="list-inline">
						<li>
							<a href="http://www1.macys.com/registry/wedding/guest/?registryId=6255664" target="_blank" class="registry"><img src="/img/macys_logo.png" alt="Macy*s"></a>
						</li>
						<li>
							<a href="http://www.target.com/gift-registry/giftgiver?registryId=r48L8Siv9vqboTACSjgk5Q&registryType=WEDDING" target="_blank" class="registry"><img src="/img/target_logo.png" alt="Target"></a>
						</li>
					</ul>
				</div>
			</div>
		</div>	
		
	</div>				
</section>