<section class="container-fluid section-content intro-section">			
	<h1 class="text-center">Gift Registry</h1>
	<h2 class="text-center">Your presense is the greatest gift of all.</h2>

</section>
<section class="container-fluid section-content" skrollr-tag>
<div class="container">
		<div class="hidden-xs text-center succulent-flower" >
			<img class="hidden-xs succulent-section" src="img/succulents/s1-5.png" alt="succlent" 
			data-50p-bottom= "transform: scale(0.3) rotate(0deg);"
			data-80p-bottom= "opacity: 0;"
			data-top="transform: scale(0.82) rotate(18deg); opacity: 1;"	
			>
			<img class="hidden-xs succulent-section" src="img/succulents/s1-3.png" alt="succlent" 
			data-50p-bottom="transform: scale(0.3) rotate(0deg);"
			data-top="transform: scale(0.8) rotate(18deg);"	
			>
			<img class="hidden-xs succulent-section" src="img/succulents/s1-2.png" alt="succlent" 
			data-50p-bottom= "transform: scale(0.3) rotate(0deg);"
			data-10p-bottom= "opacity: 1;"
			data-top="transform: scale(0.8) rotate(18deg); opacity: 0;"	
			>	
		</div>	
		<div class="row">
			<div class="col-sm-12">
				<p class="text-center">
					However, if you wish to honor us with a gift, below is list of registries. 
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 text-center">
			<a href="http://www1.macys.com/registry/wedding/guest/?registryId=6255664" target="_blank"><img src="/img/macys_logo.png" alt="Macy*s"></a>
			</div>
		</div>	
		
	</div>				
</section>