 <section class="container-fluid section-content">			
	<h1 class="text-center">Our Wedding Party</h1>
	<h2 class="text-center">The Amazing People in Our Lives</h2>
	<div class="container">
		<p class="text-center">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc finibus, sem sodales faucibus fringilla, elit ligula pharetra nunc, pellentesque ultricies ante arcu vel eros. Morbi tortor enim, molestie in laoreet.
		</p>
	</div>				
</section>
<section class="container-fluid section-content"
	skrollr-tag 
>
	 
	<div class="text-center" >
		<img class="hidden-xs succulent-section" src="img/succulents/s1-5.png" alt="succlent" 
		data-50p-bottom= "transform: scale(0.3) rotate(0deg);"
		data-80p-bottom= "opacity: 0;"
		data-top="transform: scale(0.82) rotate(18deg); opacity: 1;"	
		>
		<img class="hidden-xs succulent-section" src="img/succulents/s1-3.png" alt="succlent" 
		data-50p-bottom="transform: scale(0.3) rotate(0deg);"
		data-top="transform: scale(0.8) rotate(18deg);"	
		>
		<img class="hidden-xs succulent-section" src="img/succulents/s1-2.png" alt="succlent" 
		data-50p-bottom= "transform: scale(0.3) rotate(0deg);"
		data-10p-bottom= "opacity: 1;"
		data-top="transform: scale(0.8) rotate(18deg); opacity: 0;"	
		>	
	</div>
	<h2 class="text-center">More Information</h2>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-6">
				<p class="text-center">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc finibus, sem sodales faucibus fringilla, elit ligula pharetra nunc, pellentesque ultricies ante arcu vel eros. Morbi tortor enim, molestie in laoreet.
				</p>
			</div>
			<div class="col-sm-6">
				<p class="text-center">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc finibus, sem sodales faucibus fringilla, elit ligula pharetra nunc, pellentesque ultricies ante arcu vel eros. Morbi tortor enim, molestie in laoreet.
				</p>
			</div>
		</div>
	</div>
	<!-- Nav tabs 
	<ul class="nav nav-tabs" role="tablist">
	  <li role="presentation" class="active"><a href="#bride-party" role="tab" data-toggle="tab">Bride</a></li>
	  <li role="presentation"><a href="#groom-party" role="tab" data-toggle="tab">Groom</a></li>
	  
	</ul>-->

	<!-- Tab panes 
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="bride-party">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-12">
						<div class="text-center">

						</div>
						<h2 class="text-center">Bride's Party</h2>
						
						<p class="text-center">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc finibus, sem sodales faucibus fringilla, elit ligula pharetra nunc, pellentesque ultricies ante arcu vel eros. Morbi tortor enim, molestie in laoreet.
						</p>
					</div>
				</div>
				<div class="row profile-section">
					<div class="col-sm-5 block">
						<div class="profile-image bm-1 centered"></div>
					</div>
					<div class="col-sm-7 block">
						<div class="centered">
							<h3>Bridesmaid</h3>
							<p class="text-center ">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc finibus, sem sodales faucibus fringilla, elit ligula pharetra nunc, pellentesque ultricies ante arcu vel eros. Morbi tortor enim, molestie in laoreet.
							</p>
						</div>
					</div>
				</div>
				<div class="row profile-section">
					<div class="col-sm-7 block">
						<div class="centered">
							<h3>Bridesmaid</h3>
							<p class="text-center ">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc finibus, sem sodales faucibus fringilla, elit ligula pharetra nunc, pellentesque ultricies ante arcu vel eros. Morbi tortor enim, molestie in laoreet.
							</p>
						</div>
					</div>
					<div class="col-sm-5 block">
						<div class="profile-image bm-2 centered"></div>
					</div>
				</div>
				<div class="row profile-section">
					<div class="col-sm-5 block">
						<div class="profile-image bm-3 centered"></div>
					</div>
					<div class="col-sm-7 block">
						<div class="centered">
							<h3>Bridesmaid</h3>
							<p class="text-center ">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc finibus, sem sodales faucibus fringilla, elit ligula pharetra nunc, pellentesque ultricies ante arcu vel eros. Morbi tortor enim, molestie in laoreet.
							</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-7 block">
						<div class="centered">
							<h3>Bridesmaid</h3>
							<p class="text-center ">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc finibus, sem sodales faucibus fringilla, elit ligula pharetra nunc, pellentesque ultricies ante arcu vel eros. Morbi tortor enim, molestie in laoreet.
							</p>
						</div>
					</div>
					<div class="col-sm-5 block">
						<div class="profile-image bm-4 centered"></div>
					</div>
				</div>
			</div>

		</div>
		<div role="tabpanel" class="tab-pane" id="groom-party">...</div>
		  
		</div>
		-->				 
</section>

<section class="container-fluid section-content" id="wedding-party">			
<tabset>
	<tab heading="Bride">
		<div id="bride-party">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-12">
						<div class="text-center">

						</div>
						<h2 class="text-center">Bride's Party</h2>
						
						<p class="text-center">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc finibus, sem sodales faucibus fringilla, elit ligula pharetra nunc, pellentesque ultricies ante arcu vel eros. Morbi tortor enim, molestie in laoreet.
						</p>
					</div>
				</div>
				<div class="row profile-section">
					<div class="col-sm-5 block">
						<div class="profile-image bm-1 centered"></div>
					</div>
					<div class="col-sm-7 block">
						<div class="centered">
							<h3>Bridesmaid</h3>
							<p class="text-center ">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc finibus, sem sodales faucibus fringilla, elit ligula pharetra nunc, pellentesque ultricies ante arcu vel eros. Morbi tortor enim, molestie in laoreet.
							</p>
						</div>
					</div>
				</div>
				<div class="row profile-section">
					<div class="col-sm-7 block">
						<div class="centered">
							<h3>Bridesmaid</h3>
							<p class="text-center ">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc finibus, sem sodales faucibus fringilla, elit ligula pharetra nunc, pellentesque ultricies ante arcu vel eros. Morbi tortor enim, molestie in laoreet.
							</p>
						</div>
					</div>
					<div class="col-sm-5 block">
						<div class="profile-image bm-2 centered"></div>
					</div>
				</div>
				<div class="row profile-section">
					<div class="col-sm-5 block">
						<div class="profile-image bm-3 centered"></div>
					</div>
					<div class="col-sm-7 block">
						<div class="centered">
							<h3>Bridesmaid</h3>
							<p class="text-center ">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc finibus, sem sodales faucibus fringilla, elit ligula pharetra nunc, pellentesque ultricies ante arcu vel eros. Morbi tortor enim, molestie in laoreet.
							</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-7 block">
						<div class="centered">
							<h3>Bridesmaid</h3>
							<p class="text-center ">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc finibus, sem sodales faucibus fringilla, elit ligula pharetra nunc, pellentesque ultricies ante arcu vel eros. Morbi tortor enim, molestie in laoreet.
							</p>
						</div>
					</div>
					<div class="col-sm-5 block">
						<div class="profile-image bm-4 centered"></div>
					</div>
				</div>
			</div>			
		</div>
	</tab>
	<tab heading="Groom">
		<div id="groom-party">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-12">
						<div class="text-center">

						</div>
						<h2 class="text-center">Groom's Party</h2>
						
						<p class="text-center">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc finibus, sem sodales faucibus fringilla, elit ligula pharetra nunc, pellentesque ultricies ante arcu vel eros. Morbi tortor enim, molestie in laoreet.
						</p>
					</div>
				</div>
				<div class="row profile-section">
					<div class="col-sm-5 block">
						<div class="profile-image gm-1 centered"></div>
					</div>
					<div class="col-sm-7 block">
						<div class="centered">
							<h3>Groomsman</h3>
							<p class="text-center ">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc finibus, sem sodales faucibus fringilla, elit ligula pharetra nunc, pellentesque ultricies ante arcu vel eros. Morbi tortor enim, molestie in laoreet.
							</p>
						</div>
					</div>
				</div>
				<div class="row profile-section">
					<div class="col-sm-7 block">
						<div class="centered">
							<h3>Groomsman</h3>
							<p class="text-center ">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc finibus, sem sodales faucibus fringilla, elit ligula pharetra nunc, pellentesque ultricies ante arcu vel eros. Morbi tortor enim, molestie in laoreet.
							</p>
						</div>
					</div>
					<div class="col-sm-5 block">
						<div class="profile-image gm-2 centered"></div>
					</div>
				</div>
				<div class="row profile-section">
					<div class="col-sm-5 block">
						<div class="profile-image gm-3 centered"></div>
					</div>
					<div class="col-sm-7 block">
						<div class="centered">
							<h3>Groomsman</h3>
							<p class="text-center ">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc finibus, sem sodales faucibus fringilla, elit ligula pharetra nunc, pellentesque ultricies ante arcu vel eros. Morbi tortor enim, molestie in laoreet.
							</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-7 block">
						<div class="centered">
							<h3>Groomsman</h3>
							<p class="text-center ">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc finibus, sem sodales faucibus fringilla, elit ligula pharetra nunc, pellentesque ultricies ante arcu vel eros. Morbi tortor enim, molestie in laoreet.
							</p>
						</div>
					</div>
					<div class="col-sm-5 block">
						<div class="profile-image gm-4 centered"></div>
					</div>
				</div>
			</div>			
		</div>
	</tab>
</tabset>				
</section>