 <section class="container-fluid section-content intro-section">			
	<h1 class="text-center">Our Wedding Party</h1>
	<h2 class="text-center">The Amazing People in Our Lives</h2>
	<div class="container">
		<p class="text-center">
			Our wedding party consists of our relatives and close friends who have made an impact in our lives. We are so blessed to know all of these incredible individuals. 
		</p>
	</div>				
</section> 
<section class="container-fluid section-content" id="wedding-party" skrollr-tag>
<tabset >
	<tab heading="Bride" >
		<div id="bride-party">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-12">
						<h2 class="text-center">Bride's Party</h2>
						<p class="text-center">
							
						</p>
					</div>
				</div>
				<div class="row profile-section">
					<div class="col-sm-5 block">
						<div class="profile-image bm-1 centered"></div>
					</div>
					<div class="col-sm-7 block">
						<div class="centered">
							<h2>Karissa Trice</h2>
							<h3>Maid of Honor</h3>
							<p class="text-center ">
								Karissa is Joanna’s middle sister. She is the comedian of the family. She has a great sense of humor and can make anyone laugh in an instant. Additionally, Karissa is caring, kind, opinionated and adventurous. She has been invaluable in helping with our wedding planning. 
							</p>
						</div>
					</div>
				</div>	
				<div class="row profile-section">
					<div class="col-sm-7 block">
						<div class="centered">
							<h2>Vanessa Trice</h2>
							<h3>Maid of Honor</h3>
							<p class="text-center ">
								Vanessa is Joanna’s youngest sister. She is loud, enthusiastic, fun, and intelligent. Oftentimes, Vanessa is the life of the party. 
							</p>
						</div>
					</div>
					<div class="col-sm-5 block">
						<div class="profile-image bm-2 centered"></div>
					</div>
				</div>
				<div class="row profile-section">
					<div class="col-sm-5 block">
						<div class="profile-image bm-3 centered"></div>
					</div>
					<div class="col-sm-7 block">
						<div class="centered">
							<h2>Ashley Holst</h2>
							<h3>Bridesmaid</h3>
							<p class="text-center ">
								Ashley and Joanna have been best friends since high school. They bonded over their love of Copernicus and Narnia. Similar in personalities, Ashley and Joanna are cornflakers who always seem to get each other. 
							</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-7 block">
						<div class="centered">
							<h2>Kimberly Sanchez</h2>
							<h3>Bridesmaid</h3>
							<p class="text-center ">
								Kim and Joanna have been best friends since their college years at Mount Saint Mary’s College. Their friendship grew out of necessity as they both needed to find a lab partner during their sophomore year. Kim and Joanna are now travel partners, who have been boozin’ and loozin’ since 2011. Together they have traveled to Italy, Spain, France, England, Alaska, Seattle, and San Francisco. 
							</p>
						</div>
					</div>
					<div class="col-sm-5 block">
						<div class="profile-image bm-4 centered"></div>
					</div>
				</div>
			</div>			
		</div>
	</tab>
	<tab heading="Groom">
		<div id="groom-party">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-12">
						<h2 class="text-center">Groom's Party</h2>
						<p class="text-center">
							Alfredo grew up with sisters, but this group of men are recognized as his brothers. 
						</p>
					</div>
				</div>
				<div class="row profile-section">
					<div class="col-sm-5 block">
						<div class="profile-image gm-1 centered"></div>
					</div>
					<div class="col-sm-7 block">
						<div class="centered">
							<h2>Christian Elbancol</h2>
							<h3>Best Man</h3>
							<p class="text-center ">
								Christian and Alfredo have been best friends since childhood. Throughout the many years of their friendship, Christian continues to exhibit endearing qualities of a true friend. Alfredo describes his relationship with Christian as more than just a friend, but as a brother.  
							</p>
						</div>
					</div>
				</div>
				<div class="row profile-section">
					<div class="col-sm-7 block">
						<div class="centered">
							<h2>Mark Picazo</h2>
							<h3>Groomsman</h3>
							<p class="text-center ">
								Mark and Alfredo are first cousins. However, Alfredo has always looked up to Mark and has always thought of him as an older brother. Mark is an example of what Alfredo strives to be as a man, father and husband.    
							</p>
						</div>
					</div>
					<div class="col-sm-5 block">
						<div class="profile-image gm-2 centered"></div>
					</div>
				</div>
				<div class="row profile-section">
					<div class="col-sm-5 block">
						<div class="profile-image gm-3 centered"></div>
					</div>
					<div class="col-sm-7 block">
						<div class="centered">
							<h2>Raymond Jimenez</h2>
							<h3>Groomsman</h3>
							<p class="text-center ">
								While attending the University of California, Riverside, Raymond was one of the first people Alfredo met in West Lothian dorms. Alfredo and Raymond share the same sense of humor and love of spontaneity. During their tenure at UCR, they were roommates who participated in numerous competitive video game sessions and hosted wild college house parties. Alfredo attributes his amazing and memorable college years to Raymond.
							</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-7 block">
						<div class="centered">
							<h2>Jay-R Novilla</h2>
							<h3>Groomsman</h3>
							<p class="text-center ">
								Alfredo met Jay while pursuing his degree in Computer Information Systems at the University of California, Riverside. They shared numerous courses together and Jay’s outgoing personality easily stood out from the other engineers. Jay has always had the ability to make Alfredo laugh. His humor was essential to help withstand countless programming projects and studying for finals. Jay was an invaluable part of Alfredo’s support system in completing his degree.
							</p>
						</div>
					</div>
					<div class="col-sm-5 block">
						<div class="profile-image gm-4 centered"></div>
					</div>
				</div>
			</div>			
		</div>
	</tab>
</tabset>				
</section>